.image1{
  width: 300px;
  height: 280px;
  background-color: transparent;
}
.image2{
  width: 300px;
  height: 280px;
  background-color: transparent;
}
.image3{
  width: 300px;
  height: 280px;
  background-color: transparent;
}