<h1 class="text-center my-5 admin_dashboard_title">Customer Dashboard</h1>

<div class="container-fluid">
    <div class="row justify-content-around" style="margin :5%">
        <div class="col-4"  >
            <div class="card admin_dashboard_card" >
                <a routerLink="/feedbacks" class="view_items_link">
                <div class="grid text-center" style="margin-right: 0%cd l;">
                    <img  src="../../assets/img/impFeed.jpg" class="image1" alt="">
                    <h5 class="text-center my-3">Customers Feedbacks</h5>
                    <p class="text-muted text-center">Here you can know about our StayComfy Feedbacks.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-4" >
            <div class="card admin_dashboard_card" >
                <a routerLink="/roomsList" class="view_rooms_link">
                <div class="grid text-center" style="margin-right: 0%cd l;">
                    <img  src="../../assets/img/10.webp" class="image2" alt="">
                    <h5 class="text-center my-3">Book Now</h5>
                    <p class="text-muted text-center">Here you can book the rooms</p>
                </div>
                </a>
              </div>
        </div>
       

    </div>
</div>
