<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
  <h4 class="text-center my-5">Refund Requests</h4>
  <table class="table my-3">
    <thead>
      <th>RequestId</th>
      <th>BookingId</th>
      <th>Amount</th>
      <th>RequestDate</th>
      
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let r of refund">
        <td>{{r.refundId}}</td>
        <td>{{r.bookingId}}</td>
        <td>{{r.amount}}</td>
        <td>{{r.requestDate | date:'dd-MM-yy'}}</td>
       
        <td>
          <button (click)="delete(r.refundId)" class="btn btn-link">
            <i class="fas fa-trash-alt text-danger"></i>
          </button>
        </td>
      
      </tr>
    </tbody>
  </table>
</div>
