<div class ="heading" style="text-align: center;
margin: 2%;">
    <h1 >
        About Us
    </h1>
    <i><p style="margin-top: 2%;">Happy with Every Moment....</p></i>
        
</div>
<section class="about-us" style="text-align: center;
margin: 2%;">
    <img src="assets/img/imageabout.png" style="height: 368px;
    width:637px">
    <div class="content">
        <h5 style="text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 2%;">
            Stayhappy is the most trusted online hotel Room booking management websites which help the user to get to book a room from wherever . 
            This online room booking website opens the menu of all the rooms available in all places and they can book their room 
            of the user choice based on the room location...
            <br>
             The best thing about this online booking website is that the user can book many times of their choice.
    </h5>
    </div>
</section>