<!-- <div class="jumbotron shadow-sm hero-technology pic">  -->
    <!-- <br>
    <br>   
    <br><br><br>    
    <div style="padding-left: 20%;">
        <h1 style="color:rgb(12, 12, 12)" class="hero-title">Book ur Room...!!</h1></div> 
    <br><br>
    <div style="padding-left: 22%;">
        <p style="color:rgb(251, 250, 250)" class="hero-subtitle">StayComfy</p>
    </div>
    <br>
    <br>
    <p style="padding-left: 28%;"><a class="btn btn-primary btn-lg hero-button" role="button" href="#"
        routerLink="/login">Login</a></p>
</div> -->
<div class="jumbotron shadow-sm hero-technology pic">
    <div class="hero-content">
        <h1 class="hero-title">Book ur Room...!!</h1>
        <p class="hero-subtitle">StayComfy</p>
        <p>
            <a class="btn btn-primary btn-lg hero-button" role="button" href="#" routerLink="/login">Login</a>
        </p>
    </div>
</div>
<!-- index.html -->

<app-navigation-buttons class="hidden-nav"></app-navigation-buttons>

