<h1 class="text-center my-5 admin_dashboard_title">Admin Dashboard</h1>

<div class="container-fluid">
    <div class="row justify-content-around" style="margin :5%">
        <div class="col-4"  >
            <div class="card admin_dashboard_card" >
                <a routerLink="/roomView" class="view_items_link">
                <div class="grid text-center" style="margin-right: 0%cd l;">
                    <img  src="../../assets/img/Hotel.jpg" class="admin_dashboard_img" alt="">
                    <h5 class="text-center my-3">Room Details</h5>
                    <p class="text-muted text-center">Here you can see the room details.</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-4" >
            <div class="card admin_dashboard_card" >
                <a routerLink="/bookings" class="view_rooms_link">
                <div class="grid text-center" style="margin-right: 0%cd l;">
                    <img  src="../../assets/img/Hotel.jpg" class="admin_dashboard_img" alt="">
                    <h5 class="text-center my-3">view All Bookings</h5>
                    <p class="text-muted text-center">Here you can view all bookings of the customers</p>
                </div>
                </a>
              </div>
        </div>
        <div class="col-4" >
            <div class="card admin_dashboard_card" >
                <a routerLink="/registerUsers" class="view_items_link">
                <div class="grid text-center" style="margin-right: 0%cd l;">
                    <img  src="../../assets/img/Hotel.jpg" class="admin_dashboard_img" alt="">
                    <h5 class="text-center my-3">view All Users</h5>
                    <p class="text-muted text-center">Here you can view all of the customers</p>
                </div>
                </a>
              </div>
        </div>

    </div>
</div>


